* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

@keyframes slide-in {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 1s ease;
  transform: translateX(0%);
}

.transform-x-110 {
  transform: translateX(110%);
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
  }
}

.slide-out {
  animation: slide-out 1s ease;
}

.transform-x-110 {
  transform: translateX(110%);
}

@keyframes moveLeftRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.trash-icon:hover {
  animation: moveLeftRight 0.5s ease-in-out;
}
